<header class="site-header">
  <nav class="navbar">
    <a href="/" class="logo">FlickPick</a>
    {{#if user}}
    <div class="nav-links">
      <a href="/" class="nav-link {{#if (eq activePage 'home')}}nav-active{{/if}}">Home</a>
      <a href="/watchlist" class="nav-link {{#if (eq activePage 'watchlist')}}nav-active{{/if}}">Watchlist</a>
      <a href="/group-sessions" class="nav-link {{#if (eq activePage 'group-sessions')}}nav-active{{/if}}">Group Sessions</a>
      <div class="nav-dropdown profile-dropdown">
        <button class="profile-icon-btn" aria-label="Account menu">
          <span class="profile-initial">{{user.username.[0]}}</span>
        </button>
        <div class="dropdown-menu profile-menu">
          <a href="/profile" class="dropdown-item">My Profile</a>
          <a href="/friends" class="dropdown-item">Friends</a>
          <a href="/logout" class="dropdown-item dropdown-item--danger">Logout</a>
        </div>
      </div>
    </div>
    {{/if}}
  </nav>
</header>
