<header class="site-header">
  <nav class="navbar">
    <a href="/" class="logo">🎬 FlickPick</a>
    {{#if user}}
    <div class="nav-links">
      <a href="/" class="nav-link">Home</a>
      <a href="/watchlist" class="nav-link">Watchlist</a>
      <span class="nav-user">Hi, {{user.username}}</span>
      <a href="/logout" class="nav-link">Logout</a>
    </div>
    {{/if}}
  </nav>
</header>
